<div style="height: 400px;" class=" mb-5 p-5 container bg-success text-light" > 
     <div class="row">
        <div class="col-lg-4">
            <h2 class="">CookPedia</h2>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias voluptatum vel expedita recusandae</P>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-5">
            <h2> Sing Up For Our NewLetter </h2>
            <div class="d-flex my-3" >
                <input type="email" class="form-control" placeholder="Enter Your Email">
                <button class="btn ms-2" style="background-color: rgba(48, 198, 48, 0.437);" >  <i class=" fa-solid fa-arrow-right" ></i></button>
            </div>

            <div class="row" >
                <div class="col-lg-4">
                   <ul>
                       <li class="list-group-item" ><a href="#" class="text-light nav-link">Home</a></li>
                       <li class="list-group-item" ><a href="#" class="text-light nav-link">About</a></li>
                       <li class="list-group-item" ><a href="#" class="text-light nav-link">Contact</a></li>
                       
                   </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li class="list-group-item" ><a href="#" class="text-light nav-link">Home</a></li>
                        <li class="list-group-item" ><a href="#" class="text-light nav-link">About</a></li>
                        <li class="list-group-item" ><a href="#" class="text-light nav-link">Contact</a></li>
                        
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li class="list-group-item" ><a href="#" class="text-light nav-link">Home</a></li>
                        <li class="list-group-item" ><a href="#" class="text-light nav-link">About</a></li>
                        <li class="list-group-item" ><a href="#" class="text-light nav-link">Contact</a></li>
                        
                    </ul>
                </div>
              </div>

        </div>
     </div>    
</div>
